body {
    background-color: rgb(246, 249, 252);
    font-family: 'Ubuntu', sans-serif;
}

.shadow-style{
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}

.title-style{
    color: 	rgb(90, 93, 122);
}